<script type="text/javascript">
</script>

<center>
<div id="fixo">
  <a href="/">Home</a> | <a href="users/show">Likes</a> |
  <%= link_to 'Logout (D)', destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
  <%= link_to 'Edit profile (D)', edit_user_registration_path, :class => 'navbar-link' %>
</div>

<div id="principal">
	<p><h2>Titulo: <%= @title %></h2></p>
	<p><img src="<%= @image %>"></p>
	<p>Ano: <%= @year %></p>
	<p>Sinopse: <%= @snippet %></p>
	<p><a href="<%= @link%>">Clique aqui para assistir!</a></p><br>
  <%= button_to "Outro Filme", action: "index" %><br>

	<%= form_for :like do |f| %>
	<%= f.hidden_field value: @movie %>
	<%= f.submit value: "Like" %>
	<% end %><br>

	<br><br>
</div>
</center>
