<center>

<div id="fixo">
  <a href="/">Home</a> | <a href="users/show">Likes</a> |
  <%= link_to 'Logout (D)', destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> |
  <%= link_to 'Edit profile (D)', edit_user_registration_path, :class => 'navbar-link' %>
</div>

<div id="principal">
  <h2>SHOW</h2>

</div>

</center>
