body {
	background: #f3f3f3;
}

a{
  text-decoration: none;
}

#principal{
  background: #fff;
  padding: 35px;
  height: 100%;
  width: 90%;
	margin: 60px auto 10px;
}

#fixo{
  background: #87CEEB;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
}

#img-filme {
  margin: 0 10px 10px 0;
}

/*a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
} */
